.from_andres{
  display:flex;
  width: 300px;
  border: 3px solid #008000;
  flex-direction: column;
}

.container{
display:flex;
flex-direction:row;
justify-content: space-around;
}

.seeCard{
  border: 2px solid black;
}

.card_008000{
  background-color: #008000;
  border: 5px black solid;
}
