.from_andres{
  display:flex;
  width: 300px;
  border: 3px solid #008000;
  flex-direction: column;
}

.container{
display: inline-flex;
}

.card{
  display:inline-flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 5px;
}

img{
  width: 200px;
}
