.from_andres{
  display:flex;
  width: 300px;
  border: 3px solid #008000;
  flex-direction: column;
}

.container{
display: inline-flex;
}

.card_008000{
  background-color: #008000;
  border: 5px black solid;
}

.card{
  display:inline-flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 5px;



}

img{
  width: 200px;
}

#green{  background-color: #00FF00;
}

#red{  background-color: #ff0000;}

#blue{  background-color:  #0000FF;}

.colorbox{
  width:50px;
  height: 50px;
  margin: 10px;
}

.colorChoices{
  display:inline-flex;
}

.username{
  display:flex;
  flex-direction:row;
}

.follower_list{
  border: 2px solid black;
}

.individual_follower{
  border: 2px solid black;
}

.navbar{display:flex;
flex-direction:row;}
