.from_andres{
  display:flex;
  width: 300px;
  border: 3px solid #008000;
  flex-direction: column;
}

.container{
display: inline-flex;
}

.card_008000{
  background-color: #008000;
  border: 5px black solid;
}

.card{
  display:inline-flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 5px;



}

img{
  width: 200px;
}

#pink{  background-color: #c71585;
}

#teal{  background-color: #008080;}

#purple{  background-color:  #653d93;}

.colorbox{
  width:50px;
  height: 50px;
  margin: 10px;
}

.colorChoices{
  display:inline-flex;
}

.username{
  display:flex;
  flex-direction:row;
}