



h1{
  text-align: center;
  color: bisque;
  justify-content: center;
  font-size: 40px;
}


/* .container{
display: inline-flex;
} */

.card_008000{
  background-color: #008000;
  border: 5px black solid;
}

.slick-slide > div {
  margin:   20px;
}


.card{
  font-size: 10px;
  border: 2px solid black;
  margin: 0 auto;
  height: 660px;
  margin-bottom: 0px;
  
}

img{
    width: 75%;
    height: 70%;
    object-fit: cover;
    align-items: center;
    margin-left: 12%;
} 

#green{  background-color: #00FF00;
}

#red{  background-color: #ff0000;}

#blue{  background-color:  #0000FF;}

.colorbox{
  width:50px;
  height: 50px;
  margin: 10px;
}

.colorChoices{
  display:inline-flex;
}

.username{
  display:flex;
  flex-direction:row;

.follower_list{
  border: 2px solid black;
}

.individual_follower{
  border: 2px solid black;
}

.navbar{display:flex;
flex-direction:row;}
  
}

/* body {
  background-image: url("BKG.jpg");
  background-size: cover;
  font-family: "work sans";
} */

.loginHomepage {
  margin-top: px;
  padding-top: 1%;
  background-image: url("BKG.jpg");
  background-size: cover;
  font-family: "work sans";
  padding-bottom: 5%;
}

#container-LogIn{
  max-width: 500px;
  min-width: 300px;
  height: 700px;
  width: 30%;
  height: 100%;
  margin: 150px auto;
  font-size: 1.5rem;
  border-radius: 25px;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
  color: rgb(89, 87, 87);
}
#username-field, #password-field {
  color: rgb(162, 91, 103);
  font-weight: bold;
  width: 40%;
  padding: 0 5px;
  height: 30px;
  background: none;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #5f5f9a;
  text-align: center;
  
}
#buttonlogin, #button_adduser{
  border-radius: 25px;
  width: 60%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out
}
#buttonlogin:hover{
  opacity: 0.8;
}
.add_user{
  color: rgb(89, 87, 87);
}

/* Home page css */

.homePage{
  margin-top: px;
  padding-top: 1%;
  background-image: url("brandi-redd-aJTiW00qqtI-unsplash.jpg");
  background-size: cover;
  font-family: "work sans";
  padding-bottom: 70%;
}
.containerHomePage{
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
  font-size: 40px;
  color: rgb(120, 70, 10);
}

#buttonlogout{
  border-radius: 12px;
  padding: 5px 25px;
  background-color: #bbbba5;
  transition: 0.3s;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  letter-spacing: 2px;
  margin-left: 2%;
  margin-top: 5%;
  font-size: 20px;
  color:#c71585;
}
